.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {

  height: 40px;
  width: 400px;
  text-align: center;
  font-size: small;
 
}

button {

  height: 46px;
  width: 100px;
  text-align: center;
  border-radius: 12px;
  margin: 5px; 
  font-size: small;
}

.error {

  background-color: lightseagreen; 
  padding: 10px; 
  border-radius: 12px;
  font-size: small;
}

.card {

  color: white;
  display: flex;
  font-size: small;
  border: none;
  background-color: #282c34;
  margin-top: 50px;
}

.card-body {

  border: 1px solid black;
  height: 20vh;
  background-color: hotpink;
  border: 1px solid black;

}

.container-fluid {

  background-color:#282c34;
}

p {

  background-color: indigo;
  width: 100%;
  padding: 20px;
}